<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">

<!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<!-- Page title
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<title>White Space Personal Portfolio Template</title>

<!-- Favicon -->
<link href="assets/favicon.png" rel="shortcut icon" />
<link href="assets/apple-touch-icon.png" rel="apple-touch-icon" />

<!-- Google fonts
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,700|Lora:400" rel="stylesheet">
<!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link href="assets/css/bootstrap.css" rel="stylesheet">
<link href="assets/css/wow.css" rel="stylesheet">
<link href="assets/css/font-awesome.min.css" rel="stylesheet">
<link href="assets/css/owl.carousel.css" rel="stylesheet">
<link href="assets/css/owl.theme.default.css" rel="stylesheet">
<link href="assets/css/base.css" rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<script src="assets/js/modernizr.js"></script>
<script type="text/javascript" src="assets/js/jquery-2.1.1.js"></script>
</head>

<!-- Body Start
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<body>
<div id="preloader"></div>
<!-- Header Start
    –––––––––––––––––––––––––––––––––––––––––––––––––– --> 

<!-- Mobile Header Start
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div id="nav-icon"> <span></span> <span></span> <span></span> </div>
<div id="headMobile">
  <h2 class="site-title">Sieni Faafuata</h2>
</div>

<!-- Mobile Header End
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->

<header id="headerBar">
  <div class="col-left">
    <figure><img src="assets/images/profile-pics-180x180.png" alt="profile"></figure>
    <h3>Sieni Faafuata</h3>
    <nav>
      <ul id="nav">
        <li class="current"><a href="#home">HOME</a></li>
        <li><a href="#about">ABOUT ME</a></li>
        
        <li><a href="#portfolio">PORTFOLIO</a></li>
      
        <li><a href="#contact">CONTACT ME</a></li>
      </ul>
    </nav>
    <div class="social"> <a href="https://www.facebook.com/sienifaafuata"><i class="fa fa-facebook" aria-hidden="true"></i></a> <a href="https://www.instagram.com/sienscreation/"><i class="fa fa-instagram"aria-hidden="true"></i></a> <a href="https://accounts.snapchat.com/accounts/login"><i class="fa fa-snapchat" aria-hidden="true"></i>imsieni101</a></li></i></a> </div>
    
</header>
<!--END Header --> 
<!-- wraper Start
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div id="wraper">
  <div class="intro parallax" id="home">
    <div class="content">
      <h1>Sieni Faafuata</h1>
      <h2 class="cd-headline clip is-full-width"> <span>I am a </span> <span class="cd-words-wrapper"> <b class="is-visible">Student at VUW</b> <b>Graphic Designer</b> <b>Photographer</b><b>Videographer</b> </span> </h2>
    </div>
  </div>
  <!-- About Start
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <section>
    <div class="offset-top" id="about"></div>
    <div class="spacer"></div>
    <div class="container-fluid">
      <h2 class="head1">About Me</h2>
      <p> Hey! My name is Sienitione Faafuata and I am currently in my second year studying Design Innovation majoring in Media Design. Creativity and Culture are my strongest passions and I believe that creativity is putting your imagination to work, and it's produced the most extraordinary results within the Pasifika culture.</p>
      <div class="row about-row">
        <div class="col-md-6">
          <div id="skills">
            <div class="skillst">
              <div class="skillbar" data-percent="98%">
                <div class="title">Photoshop</div>
                <div class="count-bar color-1">
                  <div class="count"></div>
                </div>
              </div>
              <div class="skillbar" data-percent="95%">
                <div class="title">Premeier Pro</div>
                <div class="count-bar color-1">
                  <div class="count"></div>
                </div>
              </div>
              <div class="skillbar" data-percent="85%">
                <div class="title">After Effects</div>
                <div class="count-bar color-1">
                  <div class="count"></div>
                </div>
              </div>
              <div class="skillbar" data-percent="75%">
                <div class="title">HTML/CSS</div>
                <div class="count-bar color-1">
                  <div class="count"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 status">
          <div class="col-md-6 col-sm-4 col-xs-4">
            
          
          
          <div class="col-md-6 col-sm-4 col-xs-4">
            <div class="box">
              <h3>15</h3>
              <span>DESIGN PROJECTS DONE</span> </div>
          </div>
          <div class="col-md-6 col-sm-4 col-xs-4">
            
          <div class="col-md-6 col-sm-4 col-xs-4">
            <div class="box"> <i class="fa fa-pencil" aria-hidden="true"></i> <span>PROGRESSOR DESIGNER</span> </div>
          </div>
        </div>
         <div class="spacer"></div>
      </div>
    </div>
    <div class="container-fluid">
     
        </div>
      </div>
    </div>
    <div class="spacer"></div>
  </section>
  <!-- About End
    –––––––––––––––––––––––––––––––––––––––––––––––––– --> 
  
  <!-- Resume Start
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <section class="resume">
    <div class="offset-top" id="resume"></div>
    <div class="spacer"></div>
    <div class="container-fluid">
      <h2 class="head1">SERVICES THAT I HAVE DESIGNED</h2>
      <p>These are the services that I have participated or designed myself.</p>
      <div class="row">
        <div class="col-md-12">
          <ul id="experience" class="experience">
            <li>
              <h3><i class="fa fa-calendar-o" aria-hidden="true"></i>2017-2018</h3>
              <h3><i class="fa fa-building-o" aria-hidden="true"></i>LOGOS</h3>
              <h2>SWIM GYM - HASTINGS</h2>
              <p>I have had the pleasure of designing the logo with Alex Tulou (French professional rugby competition) for the swim gym in Hastings. Which helped me progress my creativity within the community. It helped me develop as a designer and has helped me put my work out there.  </p>
            </li>
            <li>
              <h3><i class="fa fa-calendar-o" aria-hidden="true"></i>2018</h3>
              <h3><i class="fa fa-building-o" aria-hidden="true"></i>PUBLIC REALTIONS OFFICER</h3>
              <h2>VUSSA</h2>
              <p>VUSSA also known as Victoria University Samoan Students' Association has picked me to become one of the ppublic relations officer for 2018. I have created posters to promote the incoporation also creating videos and photos for the association. Which helped me progress and test my capability within the role. </p>
            </li>
            <li>
              <h3><i class="fa fa-calendar-o" aria-hidden="true"></i>2016-2018</h3>
              <h3><i class="fa fa-building-o" aria-hidden="true"></i>PHOTOGRAPHER/VIDEOGRAPHER</h3>
              <h2>Photographer - VIDEOGRAPHER</h2>
              <p>I have been asked to take photos and also create video/vlogs for many events such as workshops, weddings and also birthday parties. I guess I will say that photography and videography are my main strengths within the media industry.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="spacer"></div>
    <div class="container-fluid">
      <h2 class="head1">Academic Background</h2>
      <p>PROGRESSOR DESIGNER</p>
      <div class="row">
        <div class="col-md-12">
          <ul id="academic" class="experience">
            <li>
              <h3><i class="fa fa-calendar-o" aria-hidden="true"></i>2017</h3>
              <h3><i class="fa fa-building-o" aria-hidden="true"></i>DESIGN INNOVATION</h3>
              <h2>INDUSTRIAL DESIGN</h2>
              <p>For industrial design papers I have managed to be a B average student in my first year of Victoria University. It has helped me explore more of the design area and being able to more creativite when it comes to making things on hand.</p>
            </li>
            <li>
              <h3><i class="fa fa-calendar-o" aria-hidden="true"></i>2016</h3>
              <h3><i class="fa fa-building-o" aria-hidden="true"></i>HIGH SCHOOL ACADEMICS</h3>
              <h2>FIRST IN CLASS</h2>
              <p>In my last year of high school I was awareded first class in Digital Technology and also DVC (Design Visual Communications) Also getting the Pasifika Award of the year.</p>
            </li>
           
        </div>
      </div>
    </div>
    <div class="spacer"></div>
  </section>
  <!-- Resume End
    –––––––––––––––––––––––––––––––––––––––––––––––––– --> 
  
  <!-- Portfolio Start
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  
  <section class="portfolio">
    <div class="offset-top" id="portfolio"></div>
    <div class="spacer"></div>
    <div class="container-fluid">
      <h2 class="head1">My Works</h2>
      <ul class="filters filters-group project-nav">
        <li>
          <button class="btn filter is-checked" data-filter="all">ALL</button>
        </li>
        <li>
          <button class="btn filter" data-filter="1">MEDIA DESIGN</button>
        </li>
        <li>
          <button class="btn filter" data-filter="2">INDUSTRIAL DESIGN</button>
        </li>
      </ul>
      <div class="row work-list" id="isotopeGrid">
        <div class="col-md-4 col-sm-6 filtr-item" data-category="1"> <a href="signle-work.html">
          <figure><img src="assets/images/portfolio/rsz_1rsz_finalrender.jpg" alt="">
            <div class="overlay">
              <div class="project-data">
                <div class="box">
                  <h2>Still Life</h2>
                  <span>3D Animation and Modelling</span> </div>
              </div>
            </div>
          </figure>
          </a> </div>
        <div class="col-md-4 col-sm-6 filtr-item" data-category="2"> <a href="signle-work.html">
          <figure><img src="assets/images/portfolio/ORANGE.jpg" alt="">
            <div class="overlay">
              <div class="project-data">
                <div class="box">
                  <h2>Project Title Here</h2>
                  <span>Graphic Design</span> </div>
              </div>
            </div>
          </figure>
          </a> </div>
        <div class="col-md-4 col-sm-6 filtr-item" data-category="1"> <a href="signle-work.html">
          <figure><img src="assets/images/portfolio/rsz_5.jpg" alt="">
            <div class="overlay">
              <div class="project-data">
                <div class="box">
                  <h2>Project Title Here</h2>
                  <span>Web Developemnt</span> </div>
              </div>
            </div>
          </figure>
          </a> </div>
        <div class="col-md-4 col-sm-6 filtr-item" data-category="1"> <a href="signle-work.html">
          <figure><img src="assets/images/portfolio/rsz_monalisa_main.jpg" alt="">
            <div class="overlay">
              <div class="project-data">
                <div class="box">
                  <h2>Project Title Here</h2>
                  <span>Web Developemnt</span> </div>
              </div>
            </div>
          </figure>
          </a> </div>
        <div class="col-md-4 col-sm-6 filtr-item" data-category="2"> <a href="signle-work.html">
          <figure><img src="assets/images/portfolio/rsz_sienifaafuata_dsdn104_2.jpg" alt="">
            <div class="overlay">
              <div class="project-data">
                <div class="box">
                  <h2>Project Title Here</h2>
                  <span>Graphic Design</span> </div>
              </div>
            </div>
          </figure>
          </a> </div>
        <div class="col-md-4 col-sm-6 filtr-item" data-category="1"> <a href="signle-work.html">
          <figure><img src="assets/images/portfolio/rsz_1.jpg" alt="">
            <div class="overlay">
              <div class="project-data">
                <div class="box">
                  <h2>Project Title Here</h2>
                  <span>Web Developemnt</span> </div>
              </div>
            </div>
          </figure>
          </a> </div>
      </div>
    </div>
    <div class="spacer"></div>
  </section>
  
  <!-- Portfolio End
    –––––––––––––––––––––––––––––––––––––––––––––––––– --> 
  
  <!-- Contact Start
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  
  <section class="contact">
    <div class="offset-top" id="contact"></div>
    <div class="spacer"></div>
    <div class="container-fluid">
      <h2 class="head1">Write to me</h2>
      <div class="row contact-row">
        <div class="col-md-6 contact-form">
          <form id="contactform" data-toggle="validator" class="shake scroll-reveal">
            <div class="form-group">
              <input type="text" class="form-control" id="name" placeholder="Your name" required data-error="Name missing">
              <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
              <input type="email" class="form-control" id="email" placeholder="Your email" required>
              <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
              <textarea id="message" class="form-control" rows="6" placeholder="Write your message here" required></textarea>
              <div class="help-block with-errors"></div>
            </div>
            <div class="float-left">
              <button type="submit" id="form-submit" class="btn btn-default btn-submit">SEND MESSAGE</button>
            </div>
            <div id="msgSubmit" class="h3 text-center hidden"></div>
          </form>
        </div>
        <div class="col-md-6">
          <div id="map"> </div>
        </div>
      </div>
      <div class="row more-info">
        <div class="col-md-4 col-sm-6">
          <div class="box-info"> <i class="fa fa-home" aria-hidden="true"></i>
            <p>2/131 Glenmore St
              Kelburn, 6012<br>
              </p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="box-info"> <i class="fa fa-phone" aria-hidden="true"></i>
            <p>+64 22 467 5048<br>
              </p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="box-info"> <i class="fa fa-envelope-o" aria-hidden="true"></i>
            <p>imsienifaafuata@gmail.com<br>
              </p>
          </div>
        </div>
      </div>
      <div class="spacer"></div>
    </div>
  </section>
  
  <!-- Contact End
    –––––––––––––––––––––––––––––––––––––––––––––––––– --> 
  
  <!--  Footer Start
     –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <p>COPYRIGHT © White Space 2017. ALL RIGHTS RESERVED.</p>
        </div>
      </div>
    </div>
  </footer>
  <!--  Footer End
     –––––––––––––––––––––––––––––––––––––––––––––––––– --> 
</div>
<!--END wraper --> 
<script type="text/javascript" src="assets/js/queryloader2.min.js"></script> 
<script type="text/javascript" src="assets/js/title-animated.js"></script> <!-- Resource jQuery --> 
<script type="text/javascript" src="assets/js/jquery.nav.js"></script> 
<script type="text/javascript" src="assets/js/jquery.appear.js"></script> 
<script type="text/javascript" src="assets/js/owl.carousel.js"></script> 
<script type="text/javascript" src="assets/js/jquery-parallax.js"></script> 
<script type="text/javascript" src="assets/js/jquery.filterizr.js"></script> 
<script type="text/javascript" src="assets/contact-form/js/validator.min.js"></script> 
<script type="text/javascript" src="assets/contact-form/js/form-scripts.js"></script> 
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDs3mrTgrYd6_hJS50x4Sha1lPtS2T-_JA"></script> 
<script type="text/javascript" src="assets/js/function.js"></script>
</body>
</html>